html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 75px;
  height: 75px;
  position: absolute;
  right:0;
  bottom:5%;
  margin-left: -150px;
  margin-top: -150px;
  color: #fff;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: rgba(58, 2, 168, 0.473);
}


.swiper-pagination{
    margin-top: 4px;
}