<p>Layout Management( Pin-{{pin}}  Code-{{projectcode}} )</p>
<div id="sidebar" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  	<a href="JavaScript:void(0);" onclick="openconfiguration()"><img src="resources/images/settings.png"/>Configuration</a>
  
	<a ng-if="token.indexOf('admin') > -1"  href="layout.html"><img src="resources/images/autolayouts.png"/>Layout</a>
	<a ng-if="token.indexOf('admin') > -1"  href="overlay-layout.html"><img src="resources/images/autolayouts.png"/>Overlay Layout</a>
	<a ng-if="token.indexOf('admin') > -1"  href="logical-display.html"><img src="resources/images/logic.png"/>Logical Display</a>
	<a ng-if="token.indexOf('admin') > -1"  href="kmp-config.html"><img src="resources/images/logic.png"/>Kmp Config</a>
	<a ng-if="token.indexOf('admin') > -1"  href="schedule.html"><img src="resources/images/schedule.png"/>Schedules</a>
	<a ng-if="token.indexOf('admin') > -1" href="scenerio.html"><img src="resources/images/scenario.png"/>Scenerios</a>
	<a ng-if="token.indexOf('admin') > -1" href="display-copy.html"><img src="resources/images/copy.png"/>Display Actions</a>
	<a ng-if="token.indexOf('admin') > -1" href="intrusion-source.html"><img src="resources/images/copy.png"/>Intrusion</a>
	
	<a ng-if="token.indexOf('admin') > -1" href="app/backup"><img src="resources/images/download.png" />BackUp</a>
	<a ng-if="token.indexOf('admin') > -1" href="#" id="file" data-toggle="modal" data-target="#fileModel"><img src="resources/images/upload.png"/>Restore</a>
	
	
	
</div>
<div class="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Sidebar</span>
<a href="index.html"><img src="resources/images/logout.png" class="pull-right  float-right p-2"/></a>
<a href="layout.html"><img src="resources/images/home.png" class="pull-right  float-right p-2"/></a> 
<!-- <a ng-if="token.indexOf('admin') > -1" href="layout.html"> <img src="resources/images/home.png" class="pull-right"/></a> -->
</div>


